[data-rehype-pretty-code-fragment] code {
  grid: min-w-full rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
  overflow-x: auto; /* Horizontal scroll if content is too wide */
}

[data-rehype-pretty-code-fragment] .line {
  white-space: nowrap; /* Prevents line breaks within a single line */
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}



