.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 6px;
}

/* Responsive grid columns */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* Gallery image styles */
.gallery img {
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  border-radius: 10px; /* Rounded corners for images */
}

/* Hover effect - zooms in the image */
.gallery img:hover {
  transform: scale(1.05); /* Slight zoom */
}

/* Dark and light mode styles */
.dark-mode {
  --text-color: white;
  --line-color: white;
  --bg-color: black;
}

.light-mode {
  --text-color: black;
  --line-color: black;
  --bg-color: white;
}

/* Use CSS variables */
.text-color {
  color: var(--text-color);
}

.line-color {
  border-color: var(--line-color);
}

.bg-color {
  background-color: var(--bg-color);
}

/* Aspect ratio styling */
.gallery-article-wrapper {
  position: relative;
  width: 100%;
  padding-top: 125%; /* Taller aspect ratio */
  overflow: hidden; /* Hide overflow */
}
